.h1 {
  text-align: center;
  margin-bottom: -70px;
  padding: 10px;
  align-items: center;
  color: rgb(195, 0, 255);
}
.question {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

p {
  text-align: justify;
}

@media screen and (max-width: 1100px) {
  .question {
    grid-template-columns: repeat(1, 1fr);
  }
}
